{{#if user.isAdmin}}
<!-- Tabs Managment -->
<main class="container">
  <div class="card">
    <div class="card-body">
      <!-- Tabs List -->
      <ul class="nav nav-tabs" id="tab-list" role="tablist">
        <li class="nav-item">
          <a class="nav-link {{#if table.cats}} active {{/if}}" id="categories-tab" data-toggle="tab"
            href="#categories-table" role="tab">Categories </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  {{#if table.products}} active {{/if}}" id="products-tab" data-toggle="tab"
            href="#products-table" role="tab">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  {{#if table.users}} active {{/if}}" id="users-tab" data-toggle="tab" href="#users-table"
            role="tab">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  {{#if table.ups}} active {{/if}}" id="up-seller-tab" data-toggle="tab"
            href="#up-seller-table" role="tab">Up Seller Req</a>
        </li>
      </ul>
      <div class="tab-content" id="tab-list-content">
        <div class="tab-pane fade {{#if table.cats}} show active {{/if}}" id="categories-table">
          <!-- Categories Table -->
          <div class="py-4">
            <h3 class="display-4 text-center mb-4">Categories</h3>
            <table class="table">
              <thead class="table-primary">
                <tr>
                  <th scope="col">Category ID</th>
                  <th scope="col">Category Name</th>
                  <th scope="col">Type</th>
                  <th scope="col">Products Number</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                {{#each cats }}

                <tr id="{{ CatID }}" class="category-row">
                  <th scope="col">{{ CatID }}</th>
                  <td class="category-name">{{ CatName }}</td>
                  <td>{{ TypeName }}</td>
                  <td>5</td>
                  <td>
                    <div class="btn-edit btn-edit-category">
                      <i class="fas fa-edit fa-lg"></i>
                    </div>
                    {{!--  --}}
                    <div class="btn-delete btn-delete-category">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                  </td>
                </tr>

                {{/each}}
                <tr class="tr-button">
                  <td>
                    <div class="btn-add btn-add-category mt-2">
                      <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                {{!-- Form Add Catgory Hidden --}}
                <tr class="d-none">
                  <form id="form-add-cat" action="/admin/cat/add" method="POST">
                    <td>
                      <input type="text" name="catId" placeholder="CatID..." class="form-control d-inline" />
                    </td>
                    <td><input type="text" name="catName" placeholder="Cat Name..." class="form-control"></td>
                    <td><input type="hidden">
                      <select name="typeId" class="form-control">
                        {{#each prodTypes }}
                        <option value="{{TypeID}}">{{ TypeName }}</option>
                        {{/each}}</select></td>
                    <td>
                      <div class="btn-add btn-add-category mt-2">
                        <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                      </div>
                    </td>
                    <td></td>
                  </form>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade {{#if table.products}} show active {{/if}}" id="products-table">
          <!-- Products Table -->
          <div class="py-4">
            <h3 class="display-4 text-center mb-4">Products</h3>
            <table class="table">
              <thead class="table-warning">
                <tr>
                  <th scope="col">Product ID</th>
                  <th scope="col">Product Title</th>
                  <th scope="col">Category ID</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                {{#each products }}

                <tr id="{{ProID}}">
                  <th scope="col">{{ ProID }}</th>
                  <td class="product-title">{{ PName }}</td>
                  <td>{{ CatID }}</td>
                  <td>{{ isDeleted }}</td>
                  <td>
                    <div class="btn-edit btn-edit-category">
                      <i class="fas fa-edit fa-lg"></i>
                    </div>
                    {{!--  --}}
                    <div class="btn-delete btn-delete-category">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                  </td>
                </tr>

                {{/each}}

              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade {{#if table.users}} show active {{/if}}" id="users-table">
          <!-- Users Table -->
          <div class="py-4">
            <h3 class="display-4 text-center mb-4">Users</h3>
            <table class="table">
              <thead class="table-success">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Degree</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                {{#each accs }}

                <tr id="{{Email}}">
                  <th scope="row">{{ index }}</th>
                  <td>{{ UName }}</td>
                  <td>{{ Degree }}</td>
                  <td>{{ Email }}</td>
                  <td>{{ Phone }}</td>
                  <td>
                    <div class="btn-delete btn-delete-category">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                  </td>
                </tr>

                {{/each}}

              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade{{#if table.ups}} show active {{/if}}" id="up-seller-table">
          <!-- Sold List -->
          <div class="py-4">
            <h3 class="display-4 text-center mb-4">Up Seller Request</h3>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Email</th>
                  <th scope="col">Judged Core</th>
                  <th scope="col">Time out</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                {{#each ups }}

                <tr>
                  <th scope="row">{{ index }}</th>
                  <td>{{ Email }}</td>
                  <td>{{ judgedCore }}%</td>
                  <td>{{ RequestTime }}</td>
                  <td>
                    <form action="/admin/upsel" method="POST">
                      <input type="hidden" name="email" value="{{Email}}" />
                      <input type="hidden" name="agree" value="-1" class="agreeInp" />
                      <div class="btn-like mr-2">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                      </div>
                      <div class="btn-unlike">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                      </div>
                    </form>
                  </td>
                </tr>

                {{/each}}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{/if}}