<div class="card">
  <div id="search-bar" class="card-header">
    <form action="/list-results" method="GET">
      <div class="input-group mb-3">
        <input type="text" class="form-control d-block" name="search" placeholder="Search..." />
        <div class="input-group-append">
          <button class="btn btn-primary">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- Categories -->
  <div id="categories" class="card-body">
    <!-- Sort By -->

    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text">Sort By</span>
      </div>
      <select id="sort-selected" class="form-control">
        <option class="d-none" value=""></option>
        <option value="end-desc" {{Selected "end-desc" option}}>End DESC</option>
        <option value="end-inc" {{Selected "end-inc" option}}>End INC</option>
        <option value="price-desc" {{Selected "price-desc" option}}>Price DESC</option>
        <option value="price-inc" {{Selected "price-inc" option}}>Price INC</option>
      </select>
    </div>

    <div id="accordion">
      <!-- Category -->
      <div class="card">
        {{#each prodTypes }}
        <div class="card-header">

          <h5 class="mb-0">
            <div href="#collapse{{TypeID}}" data-toggle="collapse" data-parent="#accordion">
              <i class="fas fa-arrow-circle-down"></i> {{ TypeName }}
            </div>
          </h5>
        </div>
        <div id="collapse{{TypeID}}" class="collapse show">
          <ul class="list-group text-center">
            {{#each cats }}

            <a href="/type/{{CatID}}" class="list-group-item list-group-item-cation {{#if isActive}}
              active {{/if}}">{{ CatName }}</a>

            {{/each}}
          </ul>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>