<div class="card">
  <div class="row">
    <div class="col-md-6 text-center">
      <div id="img-slide" class="slider-for">
        <img src="/images/{{product.ProID}}/1.jpg" alt="" class="img-fluid mx-2" />
        <img src="/images/{{product.ProID}}/2.jpg" alt="" class="img-fluid mx-2" />
        <img src="/images/{{product.ProID}}/3.jpg" alt="" class="img-fluid mx-2" />
        <img src="/images/{{product.ProID}}/4.jpg" alt="" class="img-fluid mx-2" />
      </div>
      <hr />
      <div class="slider-nav">
        <div class="px-1">
          <img src="/images/{{product.ProID}}/1.jpg" alt="" class="img-fluid mx-2" />
        </div>
        <div class="px-1">
          <img src="/images/{{product.ProID}}/2.jpg" alt="" class="img-fluid mx-2" />
        </div>
        <div class="px-1">
          <img src="/images/{{product.ProID}}/3.jpg" alt="" class="img-fluid mx-2" />
        </div>
        <div class="px-1">
          <img src="/images/{{product.ProID}}/4.jpg" alt="" class="img-fluid mx-2" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item bg-primary text-white">
          <h1>
            {{ product.PName }}
          </h1>
        </li>
        <li class="list-group-item">
          <p>Current Price: <strong>{{ product.CurrentPrice }} VND</strong></p>
          <p>Max Price: <strong>{{ product.PurchasePrice }} VND</strong></p>
        </li>
        <li class="list-group-item">
          <p>Winning Person: <strong>{{ product.BidderName }}</strong></p>
          <p>Seller: <strong>{{ product.SellerName }}</strong></p>
          <p>Seller Phone: <strong>{{ product.Phone }}</strong></p>
        </li>
        <li class="list-group-item">
          <p>
            CountDown Date:
            <strong>
              {{ product.EndDays }} days <span class="countdown-clock" style="color: chocolate;">{{ EndFullTime}}</span>
              <span class="d-none end-time">{{ product.EndTime }}</span>
            </strong>
            <span class="d-none end-time">{{ EndTime }}</span>
          </p>

          <p>Auction time: <strong>{{ product.BidCount }} (pers)</strong></p>
        </li>
        <li class="list-group-item">
          <button class="btn btn-primary mr-4" {{#if user.isBidder}} data-toggle="modal"
            data-target="#add-watch-list-modal" {{/if}}>
            <i class="fa fa-plus fa-1x" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success mr-4" {{#if user.isBidder}} data-toggle="modal" data-target="#auction-modal"
            {{/if}}>
            <i class="fas fa-money-bill-wave"></i>
          </button>
          <button class="btn btn-warning text-white" {{#if user.isBidder}} {{/if}}>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="p-4">
    <h3 class="display-4 text-center">Describe</h3>
    <p id="description-text">
      {{{ product.PDescription }}}
    </p>

    {{#if isOwn}}

    <form id="description-text-edit" class="d-none" action="/{{product.ProID}}/edit-description" method="POST">
      <!-- Describe -->
      <div class="mb-4">
        <textarea name="pdes" class="form-control"></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-outline-secondary">Add</button>
      </div>
    </form>
    <div id="edit-des-button" class="text-center"><button class="btn btn-outline-secondary"><i
          class="fas fa-edit fa-lg"></i></button>
    </div>

    {{/if}}

  </div>
  {{#if user.isBidder}}
  <!-- Auction History -->
  <div class="px-4">
    <hr />
    <h3 class="display-4 text-center mb-3">Auction History</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Time</th>
          <th scope="col">Bidder</th>
          <th scope="col">Price</th>
          {{#if isOwn}}
          <th scope="col"></th>
          {{/if}}
        </tr>
      </thead>
      <tbody>

        {{#each auctHistory }}
        <tr>
          <th scope="row">{{ index }}</th>
          <td>{{ BidTime }}</td>
          <td>{{ BidderName }}</td>
          <td>{{Price}} VND</td>
          {{#if isOwn}}
          <td>
            <button type="submit" class="btn btn-secondary" data-toggle="modal"
              data-target="#denny-check-modal-{{index}}">
              <i class="fa fa-thumbs-down" aria-hidden="true"></i>
              Deny
            </button>
          </td>
          {{/if}}
        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
  {{/if}}
</div>
{{#if user.isBidder}}
<!-- Add Watch List Modal -->
<div class="modal fade" id="add-watch-list-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Add watch list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you wanna review it again?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <form action="/add-watch-list" method="POST">
          <input type="hidden" name="prodId" value="{{product.ProID}}" />
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Auction Modal -->
<div class="modal fade" id="auction-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title">Auction Online</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Current Price: {{ product.CurrentPrice }} VND </p>
        <p>Max Price: {{ product.PurchasePrice }} VND</p>
        <p>Hint Price: {{ product.HintPrice }} VND</p>
        <form action="/auction-online" method="POST" class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-success text-white">Your Price:</span>
            </div>
            <input type="hidden" name="prodId" value="{{product.ProID}}">
            <input type="number" name="moneyAuction" class="form-control" aria-label="Amount (to the nearest dollar)" />
            <div class="input-group-append">
              <span class="input-group-text bg-success text-white">VND</span>
            </div>
          </div>
          <button type="submit" class="btn btn-success">
            Auction
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <form action="#" method="POST">
          <input type="hidden" name="addWatchList" value="True" />
        </form>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#each auctHistory }}
<!-- Deny Check Modal -->
<div class="modal fade" id="denny-check-modal-{{index}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-white">
        <h5 class="modal-title">Deny Check</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Why you wanna deny Him (or her)?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <form action="/ban-bidder" method="POST">
          <input type="hidden" name="prodId" value="{{ProID}}" />
          <input type="hidden" name="bidder" value="{{Bidder}}">
          <button type="submit" class="btn btn-warning">Deny</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}