<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-4 text-center py-4">
        <img src="/images/human-profile.png" alt="" class="rounded-circle img-profile" />
        <p class="lead">{{acc.UName}}</p>
      </div>
      <div class="col-md-8">
        <div id="user-infor">
          <div class="list-group mt-1">
            <div class="list-group-item">
              <strong>User Name:</strong> {{ acc.UName }}
            </div>
            <div class="list-group-item">
              <strong>Email:</strong> {{ acc.Email }}
            </div>
            <div class="list-group-item">
              <strong>Gender:</strong> {{ acc.Sex }}
            </div>
            <div class="list-group-item">
              <strong>Phone:</strong> {{ acc.Phone }}
            </div>
            <div class="list-group-item">
              <strong>Address:</strong> {{ acc.Address }}
            </div>

            <button id="btn-change" class="button-login my-5">
              Change
            </button>
          </div>
        </div>
        <!-- Form -->
        <form id="form-edit-profile" action="/profile/edit" method="POST" class="form-group my-4 d-none">
          <!-- Name -->
          <div class="mb-2">
            <input type="text" name="uname" value="{{acc.UName}}" class="form-control" />
            <small class="invalid-feedback">Wrong email form</small>
          </div>
          <!-- Email -->
          <div class="mb-2 input-group">
            <div class="input-group-item">
              <input type="email" name="email" value="{{acc.Email}}" class="form-control" readonly />
              <small class="invalid-feedback">Wrong email form</small>
            </div>
            <div class="mb-2 ml-auto input-group-item">
              <input type="password" name="old_password" placeholder="Old Password..." class="form-control" />
              <small class="invalid-feedback">Password no correct</small>
            </div>
          </div>
          <div class="mb-2 input-group">
            <div id="btn-pass-edit" class="btn btn-outline-primary ml-auto">Change Pass</div>
          </div>

          {{!-- <!-- Password -->
          <div class="input-group">
            <div class="mb-2 input-group-item">
              <input type="password" name="new_password" placeholder="New Password..." class="form-control" />
              <small class="invalid-feedback">Password weark!</small>
            </div>
            <div class="mb-2 ml-auto input-group-item">
              <input type="password" name="confirmPass" placeholder="Confirm Password..." class="form-control" />
              <small class="invalid-feedback">not match!</small>
            </div>
          </div> --}}

          <!-- BirthDate + Sex -->
          <div class="input-group">
            <div class="mb-2 input-group-item">
              <input type="text" name="phone" placeholder="Phone Number..." value="{{acc.Phone}}"
                class="form-control" />
            </div>
            <div class="mb-2 ml-auto input-group-item">
              <input type="date" name="birthday" value="{{acc.DoB}}" class="form-control" />
              <small class="invalid-feedback"><i class="fa fa-birthday-cake" aria-hidden="true">
                  18</i> </small>
            </div>
          </div>
          <!-- Address -->
          <div class="mb-2">
            <input type="text" name="address" value="{{acc.Address}}" class="form-control" />
          </div>
          <button type="submit" class="button-login my-5">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="py-4 text-center">
      {{#if user.isSeller}}
      <div class="row justify-content-center mb-4">
        <div class="col-md-4 p-4 border border-secondary rounded-circle">
          <h1 class="display-1 d-inline">
            Seller
          </h1>
        </div>
      </div>
      {{else}}
      {{#if user.isBidder}}
      <h1 class="display-1">
        Bidder
        <form action="/upseller-request" class="d-inline" method="POST">
          <input type="hidden" value="{{user.email}}" name="email" />
          <button id="up-seller-button" type="submit" class="btn btn-primary text-white">
            <i class="fas fa-arrow-up fa-3x fa-fw"></i>
          </button>
        </form>
      </h1>
      {{/if}}
      {{/if}}


      <h4 class="display-4">
        <strong>{{ acc.UpVote }}</strong>
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      </h4>
      <h4 class="display-4">
        <strong>{{ acc.DownVote }}</strong>
        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
      </h4>
      <h4 class="display-4">Judged Core: <strong>{{ acc.judgedCore }}%</strong></h4>
    </div>
  </div>
</div>